{% extends "layout.html" %}
{% block content %}
		<div class="container" style="padding-top: 30px;">
			<form method="POST" action="">
				{{ form.hidden_tag() }}

				<fieldset>
						<legend><h5>Register</h5></legend>
					<div>
						{{ form.username.label() }}

						{% if form.username.errors %}
							{{ form.username() }}
							<div class="red-text text-darken-2"  style="font-size: small;">
								{% for error in form.username.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>

						{% else %}
							{{ form.username() }}

						{% endif %}
					</div>

					<div>
						{{ form.email.label() }}
						{% if form.email.errors %}
							{{ form.email() }}
							<div class="red-text text-darken-2"  style="font-size: small;">
								{% for error in form.email.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>

						{% else %}
							{{ form.email() }}

						{% endif %}
					</div>

					<div>
						{{ form.password.label() }}
						{% if form.password.errors %}
							{{ form.password() }}
							<div class="red-text text-darken-2"  style="font-size: small;">
								{% for error in form.password.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>

						{% else %}
							{{ form.password() }}

						{% endif %}
					</div>

					<div>
						{{ form.confirmPassword.label() }}
						{% if form.confirmPassword.errors %}
							{{ form.confirmPassword() }}
							<div class="red-text text-darken-2"  style="font-size: small;">
								{% for error in form.confirmPassword.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>

						{% else %}
							{{ form.confirmPassword() }}

						{% endif %}
					</div>
					<br>
					<div>
						{{ form.submit(class="btn teal darken-2") }}
					</div>
				</fieldset>
				
			</form>

			<br>

			<div class="border-top pt-3">
					<small class="text-muted">
						Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign in</a>
					</small>
			</div>
		</div>

{% endblock content %}